.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1b2a;
  padding: 20px 40px;
  color: white;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.navbar a {
  color: white;
  font-weight: bold;
}
